@charset "UTF-8";

html{
  font-size: 62.5%;
  height: 100%; /* Make 'background-attachment: fixed;' work in Android Chrome/Opera */
}

*, *::before, *::after{
  box-sizing: border-box;
}

body{
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8)), url("../images/it_akumi.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  font-family: Oswald, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

.header{
  padding: 5%;
}

.avatar{
  padding: 1%;
  height: auto;
  max-width: 17%;
  border-radius: 50%;
}

.site-title{
  padding: 1%;
  letter-spacing: 1px;
  font-size: 7rem;
  font-weight: 700;
}

.site-title::before,
.site-title::after{
  content: "";
  display: block;
  height: 3px;
  width: 100%;
  margin: 2%;
  background-color: rgba(255, 255, 255, 1);
}
