@charset "UTF-8";

html{
  font-size: 62.5%;
  height: 100%; /* Make 'background-attachment: fixed;' work in Android Chrome/Opera */
}

*, *::before, *::after{
  box-sizing: border-box;
}

body{
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8)), url("../images/ta9mi1shi1.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  font-family: Oswald, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

.header{
  padding: 5% 5% 2%;
}

.avatar{
  padding: 1%;
  height: auto;
  max-width: 17%;
  border-radius: 50%;
}

.site-title{
  padding: 1%;
  letter-spacing: 1px;
  font-size: 8rem;
  font-weight: 700;
}

.site-title::before,
.site-title::after{
  content: "";
  display: block;
  height: 3px;
  margin: 2%;
  background-color: rgba(255, 255, 255, 1);
}

.section{
  padding-top: 1%;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 3%;
}

.section:nth-of-type(even){
  color: rgba(0, 0, 0, 1);
  background-image: linear-gradient(rgba(254, 176, 5, 0.7), rgba(254, 176, 5, 0.6));
}

.heading{
  padding-top: 1%;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 2%;
  letter-spacing: 1px;
  font-size: 6rem;
  font-weight: 700;
}

ul{
  padding: 1%;
  list-style: none;
  font-size: 3rem;
  font-weight: 200;
  text-align: center;
  letter-spacing: 1px;
}

li{
  padding: 1%;
}

.logo{
  display: inline-block;
  vertical-align: middle;
  width: 25%;
  height: auto;
}

.github{
  padding: 4.5%;
}

.twitter{
  padding: 4.5%;
}

.hatenablog{
}

@media (max-width: 768px){
  .avatar{
    max-width: 60%;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .site-title{
    font-size: 4rem;
  }
  .site-title::before,
  .site-title::after{
    margin: 3%;
  }
  .heading{
    font-size: 3rem;
    padding-top: 5%;
  }
  ul{
    font-size: 2rem;
    padding-top: 3%;
  }
  .logo{
    display: block;
    margin: auto;
    width: 40%;
  }
  .github{
    padding: 6%;
  }
  .twitter{
    padding: 6%;
  }
}
